# Python stuff
__pycache__/
.venv/
*.egg-info/

# Build directories, usually under sources/projectX/build
build/

# Assembly-line run artifacts
.runs/

# Coding agent stuff
.claude
.codex

# Ignore devcontainers, usually machine specific
.devcontainer
