# Python stuff
__pycache__/
.venv/
*.egg-info/

# Build directories, usually under sources/projectX/build
build/

# Ignore devcontainers, usually machine specific
.devcontainer

# imp tool state and build
build/
.imp/
impd.json
