# Python stuff
__pycache__/
.venv/
*.egg-info/

# Build directories, usually under sources/projectX/build
build/

# Assembly-line run artifacts
.runs/

# Ignore devcontainers, usually machine specific
.devcontainer

# Build script used for this workspace
sources/build.py
